// variables.scss

// Colors
$primary-color: #fff;
$secondary-color: #f1f1f1;
$background-color: #131313;
$text-color: #34495e;

// Font
$base-font-family: 'Arial', sans-serif;

// Font Sizes
$base-font-size: 16px;
$heading-1: 2em;
$heading-2: 1.5em;
$heading-3: 1.17em;

// Spacing
$base-spacing-unit: 16px;
$margin-bottom: $base-spacing-unit;
$padding-horizontal: $base-spacing-unit;

// Border
$border-radius: 4px;
$border-width: 1px;
$border-color: #dcdde1;

// Box Shadow
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// Z-index
$z-index-header: 100;
$z-index-modal: 200;
$z-index-tooltip: 300;
