// styles.scss

// Import variables
@import './Styles/variables.scss';

// Your additional styles go here
body {
  font-family: $base-font-family;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  font-size: $heading-1;
  color: $primary-color;
}
p {
  font-size: $base-font-size;
  margin-bottom: $margin-bottom;
  color: $secondary-color;
}

// Add more styles as needed
